.hamburger-menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  & ul {
    max-width: 480px;
    height: 100vh;
    margin: 0 auto;
    list-style: none;
    background-image: url("../img/HamburgerBgIMG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & li {
      margin: 20px 0;

      &:nth-child(4) {
        margin: 35px 0 0 0;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        margin: 0;
      }

      & h3 {
        font-family: "Aspal", serif;
        text-shadow: 0px 3px 3.3px #000;
        font-size: 2.5rem;
      }

      & a {
        color: #fff;
        font-size: 2rem;
        text-shadow: 0px 3px 3.3px #000;
      }

      & .menu-sns {
        display: flex;
        align-items: center;
        margin: 0;
      }
    }

    & .cash-list {
      & h3 {
        font-size: 1.1rem;
      }

      & p {
        font-size: 0.6rem;
        text-shadow: 0px 3px 3.3px #000;
      }

      & .card-list {
        justify-content: center;
        align-items: center;

        & img {
          margin: 5px;
        }
      }
    }
  }
}

.hamburger-menu.active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
  font-weight: 300;
}

.hamburger-btn .menu-close {
  display: none;
}

.hamburger-btn.active .menu-open {
  display: none;
}

.hamburger-btn.active .menu-close {
  display: block;
}